*{
	margin: 0px;
	padding:0px;	
	outline:none;
	box-sizing:border-box;
}
body{
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
	color: #666;
	word-break: break-all;
	word-break: break-word;
}
img{max-width: 100%;}
a{display: inline-block;}
a:hover,
a:focus{
	text-decoration: none;
	outline: none;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 1rem;
	font-weight: bold;
}

.bg-gray{background-color: #eee;}
.bg-greenish{background-color: #F0F8FF;}

.row-5{
	margin: 0 -5px;
}
.row-5>[class^="col-"]{
	padding: 0 5px;
}
.max-50{max-width: 50px;}
.mih-200{min-height: 200px;}
.mt-65{margin-top: 65px;}

.box-shadow{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.image-full{
	position: relative;
}
.image-full img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* top-bar-nav */
.top-bar-nav{
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
}
.top-bar-nav li a{
	padding: 0.5rem 1rem;
}

.main-header{
	position: relative;
	z-index: 99;
}
.header-fixed{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.image-grid-bx .col{
	margin-bottom: 0.7rem;
}
.image-grid-dv{
	cursor: pointer;
	position: relative;
	height: 250px;
	overflow: hidden;
	border-radius: 5px;
}
.img img{
	cursor: pointer;
	
	height: 100px;

	border-radius: 3px;
}
.image-grid-dv .img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 5px solid #000;
}
.image-grid-dv .img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.image-grid-dv .title{
	position: relative;
	color: #fff;
	z-index: 2;
	background: rgba(0,0,0,0.6);
	transform: translateY(100%);
	transition: all 0.3s ease-out;
	font-weight: 400;
	text-transform: capitalize;
}
.image-grid-dv .img .star-btn{
	margin-top: 0;
	background-color: #009198;
	position: absolute;
	top:0;
	right: 0;
	width: auto;
	color: #fff;
	border-top-right-radius: 0;
	font-size: 1.3rem;
	padding: 4px 8px;
}
.image-grid-dv:hover .star-btn, 
.image-grid-dv:focus .star-btn{
	color: #ffbf00;
}
.image-grid-dv:hover .title,
.image-grid-dv:focus .title{
	transform: translateY(0);
}

/* custom-modal */
.custom-modal .modal-content{
	border: 2px solid #000;
}
.custom-modal .close{
	margin: 0;
	padding: 0.5rem
}
.heading{
	position: relative;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	padding-bottom: 0.5rem;
}
/* custom-modal */

.check-bx{
	height: 260px;
	overflow-y: scroll;
	border-bottom: 1px solid #ccc;
}
.check-bx .form-check{
	position: relative;
	display: block;
	padding-left: 1.25rem;
	padding: 10px 10px 10px 30px;
	border: 1px solid #ccc;
	margin-bottom: -1px;
}

#filter-dv,
#after-edit{
	display: none;
}
.filter-bx{margin-top: -0.5rem;}

.table-7-bx{
	padding: 0 0.5rem 0.5rem;
}
.table-list-bx table td{
	vertical-align: middle;
}

.filter-form-bx{
	max-width: 1000px;
	margin: 0 auto;
}
.table-list-bx .img img{cursor: pointer;}

.image-dv-thumb .img{
	height:100px;
}
.image-dv-thumb .img img{
	height:100%;
	width:100%;
	object-fit:cover;
}

.alert{border-radius:0 !important;}
.alert-dark{background: #eee;}

.after-edit .alert.d-flex{
	align-items: center;
	padding: 10px;
}

.after-edit .alert.d-flex>div,
.after-edit .alert.d-flex>span,
.mob-alert .alert.d-flex>div,
.mob-alert .alert.d-flex>span{
	flex:1;
}
.after-edit .alert.d-flex>span{margin-right:10px;}
.after-edit .alert.d-flex .cross{
	position:absolute;
	top:17px;
	right:15px;
}
.image-dv-thumb [class^="col-"]{margin-bottom: 0.5rem;}
.clicks span{cursor: pointer;}


input[type=time]::-webkit-inner-spin-button, 
input[type=time]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0; 
}
.time-icon{position: relative;}
.time-icon:after{
	content: '\f017';
	font: normal normal normal 14px/1 FontAwesome;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
}

.questi-form-bx{
	background-color: #fadcdc;
	margin: 0 auto 20px;
}
.questi-form-bx hr{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.questi-form-bx label{
	color: #000;
	margin-top: 1rem;
	margin-bottom: 0.3rem;
}
.questi-form-bx .form-control{
	background: none;
	border: 2px solid #fff;
	border-radius: 0;
	padding: 6px 15px;
	height: auto;
}
.questi-form-bx .form-control:hover,
.questi-form-bx .form-control:focus{
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.event-table-bar .btn-options button{
	font-size: 14px !important;
	font-weight: bold;
	padding: 6px 10px;
	border-radius: 0;
	border-width: 2px;
	margin: 3px;
	margin-right: 0;
}

.card-list-header .nav-tabs .nav-item{
	width: calc(20% - 8px);
	text-align: left;
	margin-right: 10px;
}
.card-list-header .nav-tabs .nav-item:last-child{
	margin-right: 0;
}
.card-list-header .nav-tabs .nav-link{
	border-radius: 0;
	background-color: #F0F0F0;
}
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active{
	background-color: #007bff;
	color: #fff;
}

.bottom-submit-actions .form-group>*{
	width: auto;
	display: inline-block;
}
.browse-bx .custom-file-label{
	left: 15px;
	right:15px;
}

.worksheet-left-dv .header-fixed,
.worksheet-right-dv>.header-fixed{
	position: sticky;
	top:65px;
	z-index: 1;
	margin-bottom: 15px;
}
.worksheet-right-dv .add-new-sec{
	margin-bottom: 5rem;
}
.worksheet-scroll-dv{
	height: 100vh;
	overflow-y: scroll;
}

.worksheet-fix-save{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: #EEEEEE;
}



/* Responsive mdedia */
@media (max-width: 991px){
	.func-dv .btn{margin-bottom: 0.5rem;}
	.custom-modal [class^="col-"]{margin-bottom: 2rem;}
	.image-dv-thumb [class^="col-"]{margin-bottom: 0.5rem;}
}
@media (max-width: 575px){
	.main-header .navbar-nav{width: 100%; flex-direction: row;}	
	.main-header .navbar-nav .dropdown-menu{position: absolute;}
	.main-header .navbar-nav li a{padding: 5px 10px !important;}
	.right-sec .func-dv h5.text-sm-center{
		margin: 15px 0 !important;
		font-size: 1rem;
	}
	.image-grid-bx .col{flex-basis: auto;}
	
	.custom-modal .modal-header{justify-content: initial;}
	.custom-modal .modal-title{width:100%; margin-bottom:15px;}
	.custom-modal .modal-header .close{margin-left:auto !important;}
}
.form-check1:hover{
	background-color:gray;
	color:rgb(23,162,184);
}
.hover_set:hover{
	background-color: rgb(175, 204, 236);
}
@media (max-width: 768px) {
	.btn-responsive {
		font-size:11px;
		padding:4px 6px;
	}
}

@media (min-width: 768px) {
	.btn-responsive {
		font-size:12px;
		padding:6px 12px;
	}
}

@media (min-width: 992px) {
	.btn-responsive {
		font-size:14px;
		padding:8px 12px;
	}
}

@media (min-width: 1200px) {
	.btn-responsive {
		padding:10px 16px;
		font-size:18px;
	}
}
/* client_info page */
.pill_padding{
	padding:8px 40px;
	box-sizing:border-box;
}
.list-group li{
	background-color:white;
	color:black;
}
.list-group li:hover{
	background-color: lightyellow;
}
.bg_color_set{
	background-color:rgb(23,162,184);
}
.general_info{
	margin-top:25px;
	margin-left:22px;
	margin-bottom:0px;
	box-sizing:border-box;
}
.corner_set{
	border-radius:0;
	box-sizing:border-box;
	color:rgb(0,145,152);
}
option{
	color:rgb(0,145,152);
}
.btn_color{
	background-color:rgb(0,145,152); color:white;
	margin:35px;
}
.btn_color:hover{
	background-color:rgb(6, 62, 65);
	color:white;

}
.contact_font{
	font-size:20px;
}
.avatar-pic {
	width: 150px;
}

.choose_file{
	margin:0px 100px;
}


/* worksheet page */
.set_backcolor{
	background-color:rgb(23,162,184);
}
.border_corn{
	border:1px solid rgba(199, 197, 197, 0.747);
	text-align:center;
	padding:10px 40px;
	width:100px;
	
}
.modal_width_set{
	width:150%;
	margin-left:-180px;
}
.user_setup{
	font-size:28px;
	color:gray;
}
.back_color_set:hover{
	background-color:rgb(247, 250, 224);
	color:rgb(0,145,152);

}
.back_color_set{
	color:black;
	padding-top:10px;
	
}

/* side nav */
.sidenav {
	width: 0;
	position: fixed;
	z-index: 1;
	top: 55px;
	left: 0;
	background-color: rgb(252,249,242);
	overflow-x: hidden;
	transition: 0.5s;
	border-right: 1px solid #ddd;
	height: 100%;
	overflow-y: scroll;
}
.sidenav-inn{
	padding-bottom: 50px;
}
.sidenav::-webkit-scrollbar { width: 0 !important }
.sidenav { -ms-overflow-style: none; }
.sidenav { overflow: -moz-scrollbars-none; }
.sidenav a {
	font-size: 14px;
	color: #333;
}
.sidenav ul li a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 18px;
	color: black;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #009198;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.click-sidebar-menu{
	font-size: 1.5rem;
	cursor: pointer;
}
#mySidenav{
	width: 300px;	
}
.sidenav{
	transform: translateX(-300px);
}
.sidenav.trsansformmenu{
	transform: translateX(0);	
}

/* end side nav */

.text-gray{color: #666;}
.list_dot_remove{
	list-style-type: none;	
}
.list_dot_remove li a:hover{
	background-color:rgb(247, 250, 224);
	color:rgb(0,145,152);

}
.list_dot_remove li a{
	color:rgb(0,145,152);
}
.card-body ul li a{
	font-size:14px;
	margin:0px;
	border-bottom:1px solid rgb(209, 208, 208);
}
.borderless1{
	border:none;
	background-color:rgb(252,249,242);
}
.img_align{
	width:60%;
}
.position_fixed{
	position:sticky;
	
}


.dropdown-click-sec{
	position: relative;
	margin-bottom: 1rem;
}
.form-control:focus{
	box-shadow: none;
}
.dropdown-click-sec .dropdown-toggle{
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	position: absolute;
	z-index: 99;
	outline: none;
	left: 1rem;
}
.dropdown-click-sec .dropdown-toggle::after{
	border: none;
	margin: 0;
	padding: 0;
}
.dropdown-click-sec .dropdown-toggle[aria-expanded=true] i:before{
	content: '\f0d7';
}
.dropdown-click-sec .heading{
	/*padding-left: 2rem !important;*/
}
.dropdown-click{
	display: inline-block;
	width: 15px;
	cursor: pointer;
}
.dropdown-click-sec .dropdown-menu{
	position: static !important;
	transform: none !important;
	margin: 0;
	float: none;
	border-radius: 0;
}
.dropdown-click-sec .table-list td{
	color: #666;
	font-weight: normal;
	font-size: 0.875rem;
}
.dropdown-click-sec .table-list td input{
	background: none;
	padding: 10px;
	text-align: center;
	width: 100%;
	max-width: 100px;
	border: 1px solid #dedede;
	background-color: rgba(249,249,249,0.52);
}
.dropdown-click-sec .table-list td input:focus{
	border-color: #009198;
	color: #009198;
}

.delete-clk,
.lock,
.cross-td,
.cross-distx-td,
.delete-clk-inner,
.dropdown-click-inner,
.design-board-image-click,
.ingredients-toggle,
.color-remove{
	cursor: pointer;
}
.delete-clk .txt{
	transition: 0.3s;
	font-size: 12px;
	display: none;
}
.delete-clk:hover .txt,
.delete-clk:focus .txt{
	display: inline-block;
	font-weight: normal;
}
.fa-lock{color: #AA3939;}
.add-row{
	background-color: #fafafa;
	transition: 0.3s;
	border-radius: 0;
}
.add-row:hover,
.add-row:focus{
	box-shadow: none;
	outline: none;
	background-color: #f1f1f1;
}

.table-list td{vertical-align: middle;}
.table-list td i{font-size: 1rem;}

.item-name-bx{
	border:none;
	background: none;
}
.item-name-bx .item-name-txt{
	display: block;
	width: 100%;
}
.item-name-bx .item-name-input{
	display: none;
	width: 100% !important;
	max-width: none !important;
}

.border_hover:hover{
	border:1px solid rgb(148, 60, 60);
}
.bg-color{
	background-color: rgb(247, 241, 241);
}
.space_set{
	border:2px solid gray;
	background-color: rgb(85,85,85);
}
.min-height{
	min-height: 747px;
}
.payment_border_set{
	border: 1px solid rgb(206,212,218);
	padding:5px 30px;	
}

.top-bar-nav .dropdown .dropdown-menu{
	right: 0;
	left: auto;
}
.image-grid-dv-bx{
	margin-right: 0.8rem;
	margin-bottom: 0.8rem;
}

.image-grid-dv-one .img{
	height: 100px;
	width: 100px;
	box-shadow: 1px 1px 6px 1px #ccc;
}
.image-grid-dv-one .img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.add-new-worksheet{
	display: block;
	padding: 15px;
	font-size: 2rem;
	border: 1px dashed #999;
	color: #333;
}
.add-new-sec-list{
	list-style: none;
	max-width: 400px;
	margin: 0 auto;
}
.add-new-sec-list li{
	border-bottom: 1px solid #eee;
}
.add-new-sec-list a{
	color: #333;
	padding: 10px 15px;
}
.add-new-sec-list i{
	min-width: 20px;
}
.add-new-sec-list span{
	margin-left: 0.5rem;
}

/* worksheet lest side */
.worksheet-dropdown>span{
	font-size: 1.5rem;
	cursor: pointer;
}
.worksheet-dropdown>span:after{
	border: none;
}
.worksheet-dropdown .dropdown-menu{
	right: 0 !important;
	left: auto !important;
	transform: none !important;
	top:100% !important;
}
.removed-info .data{
	padding-left: 2rem;
	position: relative;
}
.removed-info .data:before{
	content: '\f0e2';
	font: normal normal normal 14px/1 FontAwesome;
	position: absolute;
	left: 5px;
	top:5px;
	font-size: 1.5rem;
}
.removed-info .text{
	color: #000;
	font-size: 1.2rem;
	text-transform: capitalize;
}
.removed-info .date{
	font-size: 0.875rem;
}
.removed-info .delete{
	font-size: 1.5rem;
	color: #f00;
}

.worksheet-left-sec .box-shadow.bg-gray,
.lineitems-left-sec .box-shadow.bg-gray,
.remove-left-sec .box-shadow.bg-gray{
	border: 1px solid #ddd;
}

.add-sec-plus{
	display: inline-block;
	border-radius: 5px;
	height: 50px;
	width: 200px;
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease-in;
}
.add-sec-plus:hover,
.add-sec-plus:focus{
	box-shadow: 1px 1px 15px 1px rgba(204, 204, 204, 0.5);
}

.add-sec-plus:before{
	content: "\f067";
	color: #aaa;
	font: normal normal normal 14px/1 FontAwesome;
	position: absolute;
	font-size: 3rem;
	left: 0;
	right: 0;
	top:50%;
	transform: translateY(-50%);
}
.platti-back{
	background-color:rgb(231,231,231);
	border:1px solid gray;	
}
.slcolors .platti-back,
.platti-back.favcdiv{
	color:#fff !important;
}

#picker {
	width: 400px;
	height: 300px;
	display:inline-block;
}
#slider {
	width: 50px;
	height: 300px;
	display:inline-block;
}
#colorWrapper {
	width:400px;
	background:#444;
	border-radius:3px;
	padding:5px;
}
.colorWrapper1{
	margin:0px 60px 0px 60px;
}
#hex {
	border:none;
	background:inherit;
}


.ingredients-section .table-list td input{
	padding: 10px 5px !important;
	max-width: 135px;
}

.add-sec-plus.myModalpalette{
	height: 50px;
	width: 50px;
	background: #17a2b8;
	color: #fff;
	border-radius: 100%;
}
.add-sec-plus.myModalpalette:before{
	content: '\f25a';
	font-size: 2rem;
	color: #fff;
}

.none-display{display: none;}


/* proposal style*/
.space_set{
	max-height: calc(100vh - 50px);
	overflow-y: scroll;
}

.template-sec{min-height: 550px;}

.temp-edit-info{
	position: relative;
}
.temp-edit-info .content-dv{
	background: #fff;
	z-index: 1;
}

.cover-edit-info .content-dv{
	position: relative;
	max-width: 400px;
}


.temp-edit-info .txt-bx{
	position: absolute;
	top:-100px;
	left: 0;
	right: 0;
	min-height: 150px;
	padding: 15px;
	background-color: #fff;
}

.proposal-form-sec{
	min-height: 250px;
}

.concept-right .image-full,
.circle-img{
	height: 100px;
	width: 100px;
	border-radius: 100%;
	overflow:hidden;
	transition: 0.3s;
	margin: 5px;
}
.concept-right .image-full:hover,
.concept-right .image-full:focus{
	border: 2px solid #f00;
}


.design-agreement-content-sec td{
	padding: 10px 0;
}
.design-agreement-content-sec .text{
	width: 125px;

}
.design-agreement-content-sec .value{
	border-bottom: 1px solid #666;
	padding-bottom: 1px;
	width: 100%;
	display: block;
}

.temp-table table{
	width: calc(100% - 100px);
	margin: 0 auto;
}
.temp-table th,
.temp-table td{
	text-align: center;
	padding: 10px 0;
	vertical-align: top;
}
.temp-table th:first-child,
.temp-table td:first-child{
	text-align: left;
}
.temp-table th:last-child,
.temp-table td:last-child{
	text-align: right;
}
.temp-table thead th{
	border-bottom: 1px solid #666;
}
.temp-table tfoot th{
	border-top: 1px solid #666;
}

.line-items-table .thumb{
	height: 50px;
	width: 50px;
	margin-right: 5px;
	margin-bottom: 5px;
}
.line-items-table .thumb img{
	width: 100%;
	height: 100%;
}

.template-sec{display: none;}
.cover-template-sec{display: block;}

.before-edit .image-dv .img img{
	height: auto;
}